[submodule "unity"]
	path = unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "platformIO/PsaciRobot/lib/arduino-mcp2515/src"]
	path = platformIO/PsaciRobot/lib/arduino-mcp2515/src
	url = https://github.com/autowp/arduino-mcp2515
